<div class="card card-user">
    <div class="card-body">
        <div class="row justify-content-center" *ngIf="getW4.length == 0">

            <div class="col-md-12">
                <form [formGroup]="w4Form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="First Name" formControlName="w4_firstname">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" formControlName="w4_lastname">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Number</label>
                                <input type="text" class="form-control" placeholder="Your social security number" formControlName="w4_social_security_number">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Address (number and street)" formControlName="w4_address">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mt-1">
                                <label>Marital Status</label>
                                <select formControlName="w4_marital_status">
                                    <option value="volo">Marital Status</option>
                                    <option value="saab">Single</option>
                                    <option value="saab">Married</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="City, State, Zip" formControlName="w4_city">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                          <a class="btn btn-primary btn-round" (click)="submitW4Form()">Submit W4 Form</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row" *ngIf="getW4.length > 0">
            <div class="container">
                <h4>W4 Form Submitted Already!</h4>
                <a class="btn btn-primary btn-round" routerLink="/form-I9">proceed to i9-form</a>
            </div>
        </div>
    </div>
</div>
