h4{
    position: absolute;
}

.i9_lastname {
    top: 25.5%;
    left: 7%;
}

.i9_firstname{
    top: 25.5%;
    left: 35%;
}

.i9_middlename{
    top: 25.5%;
    left: 59.5%;
}

.i9_other_last_name{
    top: 25.5%;
    left: 70%;
}

.i9_address{
    top: 29%;
    left: 7%;
}

.i9_apartment_no{
    top: 29%;
    left: 40.5%;
}

.i9_city{
    top: 29%;
    left: 50.5%;
}

.i9_state{
    top: 29%;
    left: 74.5%;
}

.i9_zip_code{
    top: 29%;
    left: 81%;
}

.i9_date{
    top: 33%;
    left: 7%;
}

.i9_security_number{
    top: 33%;
    left: 25%;
}

.i9_security_number0
{
    top: 33%;
    left: 25.3%;
    letter-spacing: 10px;
}

.i9_security_number1
{
    top: 33%;
    left: 32.2%;
    letter-spacing: 10px;
}

.i9_security_number2
{
    top: 33%;
    left: 37.3%;
    letter-spacing: 7px;
}

.i9_email{
    top: 33%;
    left: 45%;
}

.i9_telephone_number{
    top: 33%;
    left: 73%;
}

.alien_reg{
    top: 44.5%;
    left: 60%;
}

.alien_date{
    top: 47%;
    left: 59%;
}

.alien_reg_or_uscis{
    top: 53%;
    left: 45%;
}

.alien_i94_admission_number{
    top: 56%;
    left: 45%;
}

.alien_foreign_passport_number{
    top: 59%;
    left: 45%;
}

.alien_country_issuance{
    top: 61%;
    left: 45%;
}

.alien_signature{
    top: 65%;
    left: 30%;
}

.alien_today{
    top: 65%;
    left: 80%;
}

.translator_signature{
    top: 76%;
    left: 30%;
}

.translator_date{
    top: 76%;
    left: 80%;
}

.translator_lastname{
    top: 79.5%;
    left: 10%;
}

.translator_firstname{
    top: 79.5%;
    left: 55%;
}

.translator_address{
    top: 83%;
    left: 10%;
}

.translator_city{
    top: 83%;
    left: 50%;
}

.translator_state{
    top: 83%;
    left: 75%;
}

.translator_zip{
    top: 83%;
    left: 81%;
}

.authorized_rep_lastname{
    top: 19.5%;
    left: 30%;
}

.authorized_rep_firstname{
    top: 19.5%;
    left: 54%;
}

.authorized_rep_m_i{
    top: 19.5%;
    left: 71%;
}

.authorized_rep_immigration_status{
    top: 19.5%;
    left: 80.5%;
}

.authorized_rep_a_doc_title{
    top: 24.5%;
    left: 20%;
}

.authorized_rep_a_issue_auth{
    top: 27%;
    left: 20%;
}

.authorized_rep_a_doc_num{
    top: 29.5%;
    left: 20%;
}

.authorized_rep_a_date{
    top: 32.8%;
    left: 18%;
}

.authorized_rep_a_doc_text{
    top: 35%;
    left: 20%;
}

.authorized_rep_a_issue_auth_1{
    top: 38%;
    left: 20%;
}

.authorized_rep_a_doc_num_1{
    top: 40.5%;
    left: 20%;
}

.authorized_rep_a_expiration_date{
    top: 43.5%;
    left: 18%;
}

.authorized_rep_b_doc_title{
    top: 24.5%;
    left: 50%;
}

.authorized_rep_b_issue_auth{
    top: 27%;
    left: 50%;
}

.authorized_rep_b_doc_num{
    top: 30%;
    left: 50%;
}

.authorized_rep_b_date{
    top: 32.8%;
    left: 50%;
}

.authorized_rep_b_msg{
    top: 40%;
    left: 38%;
}

.authorized_rep_c_doc_title{
    top: 24.5%;
    left: 80%;
}

.authorized_rep_c_issue_auth{
    top: 27%;
    left: 80%;
}

.authorized_rep_c_doc_num{
    top: 30%;
    left: 81%;
}

.authorized_rep_c_date{
    top: 32.8%;
    left: 80%;
}

.authorized_rep_employee_first_day{
    left: 49%;
    top: 61%;
}

.authorized_rep_signature{
    left: 20%;
    top: 64.3%;
}

.authorized_rep_sign_date{
    left: 45%;
    top: 64.3%;
}

.authorized_rep_title{
    left: 70%;
    top: 64.3%;
}

.authorized_rep_emp_lastname{
    left: 15%;
    top: 67.5%;
}

.authorized_rep_emp_firstname{
    left: 45%;
    top: 67.5%;
}

.authorized_rep_business{
    top: 67.5%;
    left: 75%;
}

.authorized_rep_business_address{
    top: 70.5%;
    left: 15%;
}

.authorized_rep_city{
    left: 55%;
    top: 70.5%;
}

.authorized_rep_state{
    left: 74%;
    top: 70.5%;
}

.authorized_rep_zip{
    left: 80%;
    top: 70.5%;
}

.rehires_lastname{
    left: 10%;
    top: 77.5%;
}

.rehires_firstname{
    left: 35%;
    top: 77.5%;
}

.rehires_middlename{
    left: 57%;
    top: 77.5%;
}

.rehires_date_rehire{
    left: 75%;
    top: 77.5%;
}

.rehires_doc_title{
    left: 10%;
    top: 83.5%;
}

.rehires_doc_num{
    left: 50%;
    top: 83.5%;
}

.rehires_expire_date{
    left: 75%;
    top: 83.5%;
}

.rehires_employee_signature{
    left: 10%;
    top: 89.5%;
}

.rehires_date_today{
    left: 40%;
    top: 89.5%;
}

.rehires_name_employer{
    left: 60%;
    top: 89.5%;
}

.i9_i_attest_i_am.noncitizen {
    top: 42.5%;
    left: 7%;
}

.i9_i_attest_i_am.citizen {
    top: 40.5%;
    left: 7%;
}

.i9_i_attest_i_am.lawful
{
    top: 44.5%;
    left: 7%;
}

.i9_i_attest_i_am.alien
{
    top: 46.5%;
    left: 7%;
}

.translator_false
{
    top: 68.5%;
    left: 7%;
}

.translator_true
{
    top: 68.5%;
    left: 32.5%;
}