<div class="row justify-content-center no-print">
    <a class="btn btn-primary btn-round text-white" (click)="print()">Print / PDF I9Form</a>
</div>

<div class="position-relative">
    <h4 class="i9_lastname">{{data.i9_lastname}}</h4>
    <h4 class="i9_firstname">{{data.i9_firstname}}</h4>
    <h4 class="i9_middlename">{{data.i9_middlename}}</h4>
    <h4 class="i9_other_last_name">{{data.i9_other_last_name}}</h4>
    <h4 class="i9_address">{{data.i9_address}}</h4>
    <h4 class="i9_apartment_no">{{data.i9_apartment_no}}</h4>
    <h4 class="i9_city">{{data.i9_city}}</h4>
    <h4 class="i9_state">{{data.i9_state}}</h4>
    <h4 class="i9_zip_code">{{data.i9_zip_code}}</h4>
    <h4 class="i9_date">{{data.i9_date}}</h4>
    <h4 class="i9_security_number">{{data.i9_security_number}}</h4>
    <h4 class="i9_email">{{data.i9_email}}</h4>
    <h4 class="i9_telephone_number">{{data.i9_telephone_number}} </h4>

    <h4 class="alien_reg">{{data.alien_reg_or_uscis}}</h4>
    <h4 class="alien_date">{{data.alien_date}}</h4>
    <h4 class="alien_reg_or_uscis">{{data.alien_reg_or_uscis}}</h4>
    <h4 class="alien_i94_admission_number">{{data.alien_i94_admission_number}}</h4>
    <h4 class="alien_foreign_passport_number">{{data.alien_foreign_passport_number}}</h4>
    <h4 class="alien_country_issuance">{{data.alien_country_issuance}}</h4>
    <h4 class="alien_signature">{{data.alien_signature}}</h4>
    <h4 class="alien_today">{{dateToday.toDateString()}}</h4>

    <h4 class="translator_signature">{{data.translator_signature}}</h4>
    <h4 class="translator_date">{{dateToday.toDateString()}}</h4>
    <h4 class="translator_lastname">{{data.translator_lastname}}</h4>
    <h4 class="translator_firstname">{{data.translator_firstname}}</h4>
    <h4 class="translator_address">{{data.translator_address}} </h4>
    <h4 class="translator_city">{{data.translator_city}}</h4>
    <h4 class="translator_state">{{data.translator_state}}</h4>
    <h4 class="translator_zip">{{data.translator_zip}}</h4>

    <img class="my-5" [src]="page1" alt="page 1">
</div>

<div class="position-relative">
    <h4 class="authorized_rep_lastname">{{data.authorized_rep_lastname}}</h4>
    <h4 class="authorized_rep_firstname">{{data.authorized_rep_firstname}}</h4>
    <h4 class="authorized_rep_m_i">{{data.authorized_rep_m_i}}</h4>
    <h4 class="authorized_rep_immigration_status">{{data.authorized_rep_immigration_status}}</h4>
    <h4 class="authorized_rep_a_doc_title">{{data.authorized_rep_a_doc_title}}</h4>
    <h4 class="authorized_rep_a_issue_auth">{{data.authorized_rep_a_issue_auth}}</h4>
    <h4 class="authorized_rep_a_doc_num">{{data.authorized_rep_a_doc_num}}</h4>
    <h4 class="authorized_rep_a_date">{{data.authorized_rep_a_date}}</h4>
    <h4 class="authorized_rep_a_doc_text">{{data.authorized_rep_a_doc_text}}</h4>
    <h4 class="authorized_rep_a_issue_auth_1">{{data.authorized_rep_a_issue_auth_1}}</h4>
    <h4 class="authorized_rep_a_doc_num_1">{{data.authorized_rep_a_doc_num_1}}</h4>
    <h4 class="authorized_rep_a_expiration_date">{{data.authorized_rep_a_expiration_date}}</h4>
    <h4 class="authorized_rep_b_doc_title">{{data.authorized_rep_b_doc_title}}</h4>
    <h4 class="authorized_rep_b_issue_auth">{{data.authorized_rep_b_issue_auth}}</h4>
    <h4 class="authorized_rep_b_doc_num">{{data.authorized_rep_b_doc_num}}</h4>
    <h4 class="authorized_rep_b_date">{{data.authorized_rep_b_date}}</h4>
    <h4 class="authorized_rep_b_msg">{{data.authorized_rep_b_msg}}</h4>
    <h4 class="authorized_rep_c_doc_title">{{data.authorized_rep_c_doc_title}}</h4>
    <h4 class="authorized_rep_c_issue_auth">{{data.authorized_rep_c_issue_auth}}</h4>
    <h4 class="authorized_rep_c_doc_num">{{data.authorized_rep_c_doc_num}}</h4>
    <h4 class="authorized_rep_c_date">{{data.authorized_rep_c_date}}</h4>
    <h4 class="authorized_rep_employee_first_day">{{data.authorized_rep_employee_first_day}}</h4>
    <h4 class="authorized_rep_signature">{{data.authorized_rep_signature}}</h4>
    <h4 class="authorized_rep_sign_date">{{dateToday.toDateString()}}</h4>
    <h4 class="authorized_rep_title">{{data.authorized_rep_title}}</h4>
    <h4 class="authorized_rep_emp_firstname">{{data.authorized_rep_emp_firstname}}</h4>
    <h4 class="authorized_rep_emp_lastname">{{data.authorized_rep_emp_lastname}}</h4>
    <h4 class="authorized_rep_business">{{data.authorized_rep_business}}</h4>
    <h4 class="authorized_rep_business_address">{{data.authorized_rep_business_address}}</h4>
    <h4 class="authorized_rep_city">{{data.authorized_rep_city}}</h4>
    <h4 class="authorized_rep_state">{{data.authorized_rep_state}}</h4>
    <h4 class="authorized_rep_zip">{{data.authorized_rep_zip}}</h4>

    <h4 class="rehires_lastname">{{data.rehires_lastname}}</h4>
    <h4 class="rehires_firstname">{{data.rehires_firstname}}</h4>
    <h4 class="rehires_middlename">{{data.rehires_middlename}}</h4>
    <h4 class="rehires_date_rehire">{{data.rehires_date_rehire}}</h4>
    <h4 class="rehires_doc_title">{{data.rehires_doc_title}}</h4>
    <h4 class="rehires_doc_num">{{data.rehires_doc_num}}</h4>
    <h4 class="rehires_expire_date">{{data.rehires_expire_date}}</h4>
    <h4 class="rehires_employee_signature">{{data.rehires_employee_signature}}</h4>
    <h4 class="rehires_date_today">{{dateToday.toDateString()}}</h4>
    <h4 class="rehires_name_employer">{{data.rehires_name_employer}}</h4>

    <img class="my-5" [src]="page2" alt="page 2">
</div>


<div>
    <img class="my-5" [src]="page3" alt="page 3">
</div>