<div class="card card-user">
    <div class="card-body">
        <div class="row justify-content-center">

            <div class="col-md-12">
                <form [formGroup]="i9Form">
                    <div class="row">

                        <div class="col-md-12">
                            <h3>Section 1. Employee Information and Attestation</h3>
                        </div>

                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="First Name" formControlName="i9_firstname">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Last Name (Family Name)" formControlName="i9_lastname">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Middle Initial" formControlName="i9_middlename">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Other Last Names Used (if any)" formControlName="i9_other_last_name">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Address (number and street)" formControlName="i9_address">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Number</label>
                                <input type="text" class="form-control" placeholder="Apt. Number" formControlName="i9_apartment_no">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="City or Town" formControlName="i9_city">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" placeholder="State" formControlName="i9_state">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" class="form-control" placeholder="ZIP Code" formControlName="i9_zip_code">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Date of birth" formControlName="i9_date">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Security Number</label>
                                <input type="text" class="form-control" placeholder="000-00-0000" formControlName="i9_security_number">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="text" class="form-control" placeholder="E-mail Address" formControlName="i9_email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Number</label>
                                <input type="text" class="form-control" placeholder="Telephone Number" formControlName="i9_telephone_number">
                            </div>
                        </div>

                        <div class="col-md-12 pt-4">
                           <div class="text">
                                <p>I attest, under penalty of perjury, that I am (check one of the following boxes):</p>
                           </div>
                        </div>

                        <div class="col-md-12 pt-4">
                            <div class="form-group">
                                <input type="checkbox" id="checkinga" value="A citizen of the United States" formControlName="i9_i_attest_i_am" (change)="changeAttestCheck($event)">
                                <label for="checkinga" class="pl-3">1. A citizen of the United States</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" id="checkingb" value="A noncitizen national of the United States" formControlName="i9_i_attest_i_am" (change)="changeAttestCheck($event)">
                                <label for="checkingb" class="pl-3">2. A noncitizen national of the United States (See instructions)</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="checkbox" id="checkingc" value="A lawful permanent resident" formControlName="i9_i_attest_i_am" (change)="changeAttestCheck($event)">
                                <label for="checkingc" class="pl-3">3. A lawful permanent resident</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-mail Address" formControlName="i9_attest_email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="checkbox" id="checkingd" value="An alien authorized to work" formControlName="i9_i_attest_i_am" (change)="changeAttestCheck($event)">
                                <label for="checkingd" class="pl-3">4. An alien authorized to work</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="Hiring Date" formControlName="i9_attest_date">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="text">
                                <p>Aliens authorized to work must provide only one of the following document numbers to complete Form I-9:  An Alien Registration Number/USCIS Number OR Form I-94 Admission Number OR Foreign Passport Number.</p>
                            </div>
                        </div>

                        <div class="col-md-6 pt-4">
                            <p>1. Alien Registration Number/USCIS Number:</p>
                        </div>
 
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Number/USCIS Number" formControlName="alien_reg_or_uscis">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h6>OR</h6>
                        </div>

                        <div class="col-md-6 pt-4">
                            <p>2. Form I-94 Admission Number:</p>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Form I-94 Admission Number" formControlName="alien_i94_admission_number">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h6>OR</h6>
                        </div>

                        <div class="col-md-6 pt-4">
                            <p>3. Foreign Passport Number:</p>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Foreign Passport Number" formControlName="alien_foreign_passport_number">
                            </div>
                        </div>

                        <div class="col-md-6 pt-4">
                            <p>Country of Issuance:</p>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Country of Issuance" formControlName="alien_country_issuance">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Signature</label>
                                <input type="text" class="form-control" placeholder="Signature of Employee" formControlName="alien_signature">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Today's Date" formControlName="alien_date">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>Preparer and/or Translator Certification (check one):</h3>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="checkbox" id="checkingx" value="I did not use a preparer or translator" formControlName="translator_check" (change)="changeTranslatorCheck($event)">
                                <label for="checkingx" class="pl-3">I did not use a preparer or translator.</label>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="checkbox" id="checkingy" value="A preparer(s) and/or translator(s) assisted the employee in completing Section 1." formControlName="translator_check" (change)="changeTranslatorCheck($event)">
                                <label for="checkingy" class="pl-3">A preparer(s) and/or translator(s) assisted the employee in completing Section 1.</label>
                            </div>
                        </div>

                        <div class="col-md-12 pt-2">
                            <p>(Fields below must be completed and signed when preparers and/or translators assist an employee in completing Section 1.)</p>
                        </div>

                        <div class="col-md-12 pt-4">
                            <div class="text">
                                <p>I attest, under penalty of perjury, that I have assisted in the completion of Section 1 of this form and that to the best of myknowledge the information is true and correct.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Signature</label>
                                <input type="text" class="form-control" placeholder="Signature of Preparer or Translator" formControlName="translator_signature">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Today's Date" formControlName="translator_date">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Last Name (Family Name)" formControlName="translator_lastname">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="First Name (Given Name)" formControlName="translator_firstname">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Address (Street Number and Name)" formControlName="translator_address">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="City or Town" formControlName="translator_city">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" placeholder="State" formControlName="translator_state">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>ZIP</label>
                                <input type="text" class="form-control" placeholder="ZIP Code" formControlName="translator_zip">
                            </div>
                        </div>

                        <div class="col-md-12 pt-4">
                            <h3>Section 2. Employer or Authorized Representative Review and Verification. </h3>
                        </div>

                        <div class="col-md-12 pt-2">
                            <p>(Employers or their authorized representative must complete and sign Section 2 within 3 business days of the employee's first day of employment. You must physically examine one document from List A OR a combination of one document from List B and one document from List C as listed on the "Lists of Acceptable Documents.")</p>
                        </div>

                        <div class="col-md-12 pt-4">
                            <div class="text">
                                <p>Employee Info from Section 1 </p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name (Family Name)" formControlName="authorized_rep_lastname">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name (Given Name)" formControlName="authorized_rep_firstname">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="M.I." formControlName="authorized_rep_m_i">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Citizenship/Immigration Status" formControlName="authorized_rep_immigration_status">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="heading">
                                            <h4>
                                                List A
                                                <span class="float-right"><strong>OR</strong></span>
                                            </h4> 
                                            <p>Identity and Employment Authorization</p>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Title" formControlName="authorized_rep_a_doc_title">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Issuing Authority" formControlName="authorized_rep_a_issue_auth">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Number" formControlName="authorized_rep_a_doc_num">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="date" class="form-control" placeholder="Expiration Date (if any) (mm/dd/yyyy)" formControlName="authorized_rep_a_date">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document text" formControlName="authorized_rep_a_doc_text">
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Issuing Authority" formControlName="authorized_rep_a_issue_auth_1">
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Number" formControlName="authorized_rep_a_doc_num_1">
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="date" class="form-control" placeholder="Expiration Date (if any) (mm/dd/yyyy)" formControlName="authorized_rep_a_expiration_date">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="heading">
                                            <h4>
                                                List B
                                                <span class="float-right"><strong>OR</strong></span>
                                            </h4> 
                                            <p>Identity</p>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Title" formControlName="authorized_rep_b_doc_title">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Issuing Authority" formControlName="authorized_rep_b_issue_auth">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Number" formControlName="authorized_rep_b_doc_num">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="date" class="form-control" placeholder="Expiration Date (if any) (mm/dd/yyyy)" formControlName="authorized_rep_b_date">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <textarea rows="5" placeholder="Your Message" formControlName="authorized_rep_b_msg"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="heading">
                                            <h4>List C</h4> 
                                            <p>Employment Authorization</p>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Title" formControlName="authorized_rep_c_doc_title">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Issuing Authority" formControlName="authorized_rep_c_issue_auth">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="text" class="form-control" placeholder="Document Number" formControlName="authorized_rep_c_doc_num">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="date" class="form-control" placeholder="Expiration Date (if any) (mm/dd/yyyy)" formControlName="authorized_rep_c_date">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <input type="file" class="form-control" id="QR Code - Sections 2 & 3 Do Not Write In This Space" name="QR Code - Sections 2 & 3 Do Not Write In This Space">
                                                <!-- <input type="file" class="form-control" placeholder="QR Code - Sections 2 & 3 Do Not Write In This Space"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 pt-3">
                            <p>The employee's first day of employment (See instructions for exemptions)</p>
                        </div>
 
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="first day" formControlName="authorized_rep_employee_first_day">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Signature of Employer or Authorized Representative" formControlName="authorized_rep_signature">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="Today's Date" formControlName="authorized_rep_sign_date">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title of Employer or Authorized Representative" formControlName="authorized_rep_title">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name of Employer or Authorized Representative" formControlName="authorized_rep_emp_lastname">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name of Employer or Authorized Representative" formControlName="authorized_rep_emp_firstname">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Employer's Business or Organization Name" formControlName="authorized_rep_business">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Employer's Business or Organization Address (Street Number and Name)" formControlName="authorized_rep_business_address">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="City or Town" formControlName="authorized_rep_city">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="State" formControlName="authorized_rep_state">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="ZIP Code" formControlName="authorized_rep_zip">
                            </div>
                        </div>

                        <div class="col-md-12 pt-4">
                            <h3>Section 3. Reverification and Rehires </h3>
                        </div>

                        <div class="col-md-8 pt-3 float-left">
                            <p>A. New Name (if applicable)</p>
                        </div>

                        <div class="col-md-4 pt-3 float-right">
                            <p>B. Date of Rehire (if applicable)</p>
                        </div>

                        <div class="col-md-3 pt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name (Family Name)" formControlName="rehires_lastname">
                            </div>
                        </div>

                        <div class="col-md-3 pt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name (Given Name)" formControlName="rehires_firstname">
                            </div>
                        </div>

                        <div class="col-md-2 pt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Middle Initial" formControlName="rehires_middlename">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="Date" formControlName="rehires_date_rehire">
                            </div>
                        </div>

                        <div class="col-md-12 pt-3">
                            <p>C. If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization in the space provided below.</p>
                        </div>

                        <div class="col-md-4 pt-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Document Title" formControlName="rehires_doc_title">
                            </div>
                        </div>

                        <div class="col-md-4 pt-4">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Document Number" formControlName="rehires_doc_num">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Expiration Date (if any) (mm/dd/yyyy)</label>
                                <input type="date" class="form-control" placeholder="Expiration Date " formControlName="rehires_expire_date">
                            </div>
                        </div>

                        <div class="col-md-12 pt-4">
                            <div class="text">
                                <p>I attest, under penalty of perjury, that to the best of my knowledge, this employee is authorized to work in the United States, and if the employee presented document(s), the document(s) I have examined appear to be genuine and to relate to the individual.  </p>
                            </div>
                        </div>

                        <div class="col-md-4 pt-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Signature of Employer or Authorized Representative" formControlName="rehires_employee_signature">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Today's Date (mm/dd/yyyy)</label>
                                <input type="date" class="form-control" placeholder="Today Date" formControlName="rehires_date_today">
                            </div>
                        </div>

                        <div class="col-md-4 pt-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name of Employer or Authorized Representative" formControlName="rehires_name_employer">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                          <a class="btn btn-primary btn-round" (click)="submiti9Form()">Submit i9 Form</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

