<div class="card card-user">
    <div class="card-body">
        <div class="row justify-content-center" *ngIf="getHandbook.length == 0">

            <div class="col-md-12">
                <form [formGroup]="employeeForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Employee’s Name" formControlName="employee_name">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Signature</label>
                                <input type="text" class="form-control" placeholder="Employee’s Signature" formControlName="employee_signature">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Hiring Date" formControlName="date">
                            </div>
                        </div>

                        <div class="col-md-12 pt-5">
                            <h3>Weekly Pay Rate</h3>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Employee Name" formControlName="weekly_pay_employee_name">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Hiring Date" formControlName="date_of_hire">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Employee Signature:" formControlName="weekly_pay_employee_signature_1">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Hiring Date" formControlName="date_employee_signature_1">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Employee Signature:" formControlName="weekly_pay_employee_signature_2">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="Hiring Date" formControlName="date_employee_signature_2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                          <a class="btn btn-primary btn-round" (click)=submitEmployeeHandbook()>Submit Employee Handbook</a>
                        </div>
                      </div>
                </form>
            </div>

        </div>

        <div class="row" *ngIf="getHandbook.length > 0">
            <div class="container">
                <h4>Employee Handbook Submitted Already!</h4>
            </div>
        </div>
    </div>
</div>