<div class="card card-user">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form [formGroup]="employeeForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Employee Name" formControlName="employee_name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control" placeholder="Hiring Date" formControlName="date_of_hiring">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Employee Email" formControlName="email">
                            </div>
                        </div>
                    </div>

                    <div class="row py-4">
                        <h3>Weekly Pay Rate</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Training Pay per week</label>
                                <input type="text" class="form-control" placeholder="Training Pay per week" formControlName="training_pay">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rate of pay</label>
                                <input type="text" class="form-control" placeholder="Rate of pay" formControlName="rate_of_pay">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Daily Pay</label>
                                <input type="text" class="form-control" placeholder="Daily Pay" formControlName="daily_pay">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>90 Days Probationary Period</label>
                                <input type="text" class="form-control" placeholder="Yes/No" formControlName="probation_period">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="update ml-auto mr-auto">
                        <a class="btn btn-primary btn-round" (click)="getShareableLink()">Get Shareable Link</a>
                      </div>
                    </div>
                  </form>
            </div>
        </div>

        <div class="text" *ngIf="userData">
            <div class="row">
                <div class="col-md-12">
                    <p>URL: <a href="{{employeeService.config.FRONTEND_ENDPOINT}}">{{employeeService.config.FRONTEND_ENDPOINT}}</a></p>
                    <p>User Name: {{userData.username}}</p>
                    <p>Password: {{userData.username}}123</p>
                </div>
            </div>
        </div>

    </div>
</div>


