<div class="row justify-content-center no-print">
    <a class="btn btn-primary btn-round text-white" (click)="print()">Print / PDF Employee Handbook</a>
</div>

<div class="position-relative">
    <h4 class="w4_firstname">{{data.w4_firstname}}</h4>
    <h4 class="w4_lastname">{{data.w4_lastname}}</h4>
    <h4 class="w4_social_security_number">{{data.w4_social_security_number}}</h4>
    <h4 class="w4_address">{{data.w4_address}}</h4>
    <h4 class="w4_marital_status single" *ngIf="data.w4_marital_status == 'volvo'">&#10004;</h4>
    <h4 class="w4_marital_status married" *ngIf="data.w4_marital_status == 'married'">&#10004;</h4>
    <h4 class="w4_marital_status withhold" *ngIf="data.w4_marital_status == 'withhold'">&#10004;</h4>
    <h4 class="w4_city">{{data.w4_city}}</h4>
    <h4 class="dateToday">{{dateToday.toDateString()}}</h4>

    <img class="my-5" [src]="page1" alt="page 1">
</div>

<img class="my-5" [src]="page2" alt="page 2">
<img class="my-5" [src]="page3" alt="page 3">
<img class="my-5" [src]="page4" alt="page 4">
