h4 {
    position: absolute;
}

.direct_deposit_name{
    top: 21%;
    left: 40%;
}

.direct_deposit_address{
    top: 24%;
    left: 40%;
}

.direct_deposit_city{
    top: 27%;
    left: 45%;
}

.name_of_bank{
    top: 56.5%;
    left: 45%;
}

.account_type{
    top: 59.5%;
    left: 45%;
}

.nine_digit_routing{
    top: 63%;
    left: 45%;
}

.amount_type.dollar{
    top: 65.5%;
    left: 30%;
}

.amount.dollar{
    top: 66%;
    left: 35%;
}

.direct_deposit_employee_signature{
    top: 80.5%;
    left: 40%;
}

.direct_deposit_date{
    top: 84%;
    left: 40%;
}

.current {
    top: 69%;
    left: 30%;
}

.savings {
    top: 69%;
    left: 49%;
}