<div class="row justify-content-center no-print">
    <a class="btn btn-primary btn-round text-white" (click)="print()">Print Employee Handbook</a>
</div>

<img class="my-5 w-100" [src]="page1" alt="page 1">
<img class="my-5" [src]="page2" alt="page 2">
<img class="my-5" [src]="page3" alt="page 3">
<img class="my-5" [src]="page4" alt="page 4">
<img class="my-5" [src]="page5" alt="page 5">
<img class="my-5" [src]="page6" alt="page 6">
<img class="my-5" [src]="page7" alt="page 7">
<img class="my-5" [src]="page8" alt="page 8">
<img class="my-5" [src]="page9" alt="page 9">
<img class="my-5" [src]="page10" alt="page 10">
<img class="my-5" [src]="page11" alt="page 11">
<img class="my-5" [src]="page12" alt="page 12">
<img class="my-5" [src]="page13" alt="page 13">
<img class="my-5" [src]="page14" alt="page 14">
<img class="my-5" [src]="page15" alt="page 15">
<img class="my-5" [src]="page16" alt="page 16">
<img class="my-5" [src]="page17" alt="page 17">
<img class="my-5" [src]="page18" alt="page 18">
<img class="my-5" [src]="page19" alt="page 19">
<img class="my-5" [src]="page20" alt="page 20">
<img class="my-5" [src]="page21" alt="page 21">
<img class="my-5" [src]="page22" alt="page 22">
<img class="my-5" [src]="page23" alt="page 23">
<img class="my-5" [src]="page24" alt="page 24">
<img class="my-5" [src]="page25" alt="page 25">
<img class="my-5" [src]="page26" alt="page 26">
<img class="my-5" [src]="page27" alt="page 27">
<img class="my-5" [src]="page28" alt="page 28">